<section id="rate">
    <div class="container">
        <p class="blue bold">Practice advice</p>
        <h2>Each and every client is important</h2>
        <p>Problems trying to resolve the conflict between <br> the two major reaims of Classical physics: Newtonian
            mechanics</p>
    </div>

    <div class="opinion-container">
        <div class="opinion">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>

            <p>Slate helps you see how many more days you need to work to reach your financial goal for the month
                and year</p>
            <div class="poster">
                <img src="../../assets/images/testimonial-user-cover-167.png" alt="">
                <p>
                    <span class="name blue bold">Bernard Miles</span>
                    <span class="work">Designer</span>
                </p>
            </div>
        </div>
        <div class="opinion">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>

            <p>Slate helps you see how many more days you need to work to reach your financial goal for the month
                and year</p>
            <div class="poster">
                <img src="../../assets/images/testimonial-user-cover-124.png" alt="">
                <p>
                    <span class="name blue bold">Bernard Miles</span>
                    <span class="work">Designer</span>
                </p>
            </div>
        </div>
        <div class="opinion">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>

            <p>Slate helps you see how many more days you need to work to reach your financial goal for the month
                and year</p>
            <div class="poster">
                <img src="../../assets/images/testimonial-user-cover-169.png" alt="">
                <p>
                    <span class="name blue bold">Bernard Miles</span>
                    <span class="work">Designer</span>
                </p>
            </div>
        </div>
    </div>
</section>