<div id="footer">
    <div class="foot">
        <div class="bloc">
            <h3>Get In Touch</h3>
            <p>The quick foc jumps over the lazy dogs</p>
            <span><i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i><i
                    class="fab fa-twitter"></i></span>
        </div>
        <div class="bloc">
            <h3>Company Info</h3>
            <div class="content">
                <a href="#" class="about">About us</a>
                <a href="#" class="carrier">Carrier</a>
                <a href="#" class="hire">We are hiring</a>
                <a href="#" class="blog">Blog</a>
            </div>
        </div>
        <div class="bloc">
            <h3>Features</h3>
            <div class="content">
                <a href="#" class="business">Business Marketing</a>
                <a href="#" class="user">User Analytic</a>
                <a href="#" class="live">Live Chat</a>
                <a href="#" class="suport">Unlimited Supp</a>
            </div>
        </div>
        <div class="bloc">
            <h3>Resources</h3>
            <div class="content">
                <a href="#" class="system">IOS & Android</a>
                <a href="#" class="demo">Watch a demo</a>
                <a href="#" class="customers">Customers</a>
                <a href="#" class="api">API</a>
            </div>
        </div>
    </div>
    <p class="copyright bold">
        made in love by Papson All right reserved
    </p>
</div>