<section id="advice">
    <div class="container">
        <p class="blue bold">Practice advice</p>
        <h2>Packages that are aprodable</h2>
        <p>Problems trying to resolve the conflict between <br> the two major reaims of Classical physics: Newtonian
            mechanics</p>
        <div class="card-container">
            <div class="card">
                <div class="image-container cont1">
                    <img src="../../assets/images/logo-advice1.png" alt="done_icon">
                </div>
                <h3 class="bold">Book library</h3>
                <span class="stick red-bg"></span>
                <p>The gradual accumulation of information about atomic and small scale behaviour ...</p>
            </div>

            <div class="card">
                <div class="image-container cont2">
                    <img src="../../assets/images/logo-advice2.png" alt="done_icon">
                </div>
                <h3 class="bold">Sales planning</h3>
                <span class="stick red-bg"></span>
                <p>The gradual accumulation of information about atomic and small scale behaviour ...</p>
            </div>

            <div class="card">
                <div class="image-container cont3">
                    <img src="../../assets/images/logo-advice3.png" alt="done_icon">
                </div>
                <h3 class="bold">Evolution time</h3>
                <span class="stick red-bg"></span>
                <p>The gradual accumulation of information about atomic and small scale behaviour ...</p>
            </div>
        </div>

    </div>
</section>
