<section id="sale">
    <!-- header -->
    <div class="container">
        <p class="blue bold">Practice advice</p>
        <h2>Packages that are aprodable</h2>
        <p>Problems trying to resolve the conflict between <br> the two major reaims of Classical physics: Newtonian
            mechanics</p>
    </div>

    <!-- card frame -->
    <div class="card-container">
        <div class="card">
            <img src="../../assets/images/sale1.jpg" alt="">

            <!-- writing on the image -->
            <div class="onImage">
                <span class="status red-bg bold">Sale</span>

                <div class="logos">
                    <div>
                        <img src="../../assets/images/logo1.png" alt="" class="logo">
                    </div>
                    <div>
                        <img src="../../assets/images/logo2.png" alt="" class="logo">
                    </div>
                    <div>
                        <img src="../../assets/images/logo3.png" alt="" class="logo">
                    </div>
                </div>
            </div>

            <!-- writing under image -->
            <div class="content">
                <p class="flex">
                    <span class="department blue bold">English Department</span>
                    <span class="rate"><i class="fas fa-star"></i>4.9</span>
                </p>
                <h3 class="sector">Graphic Design</h3>
                <p>We focus on ergonomics and meeting where you work. It's only keystroke away.</p>
                <p class="numberSold bold">
                    <span class="ico">
                        <img src="../../assets/images/download.png" alt="download icon">
                    </span>
                    15 sales
                </p>
                <p class="price"> <span class="l-gray bold">$16.48</span> <span class="green bold">$6.48</span></p>
                <p class="flx">
                    <span class="duration">
                        <span class="ico"> <img src="../../assets/images/logo-time.png" alt="timer"></span>
                        22hr 30min
                    </span>
                    <span class="long">
                        <span class="ico"> <img src="../../assets/images/logo-course.png" alt="course"></span>
                        64 lessons
                    </span>
                    <span class="progress">
                        <span class="ico"> <img src="../../assets/images/logo-progress.png" alt="progress"></span>
                        Progess
                    </span>
                </p>
                <a href="#" class="bold blue">Learn more</a>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/images/sale2.jpg" alt="">


            <!-- writing on the image -->
            <div class="onImage">
                <span class="status red-bg bold">Sale</span>

                <div class="logos">
                    <div>
                        <img src="../../assets/images/logo1.png" alt="" class="logo">
                    </div>
                    <div>
                        <img src="../../assets/images/logo2.png" alt="" class="logo">
                    </div>
                    <div>
                        <img src="../../assets/images/logo3.png" alt="" class="logo">
                    </div>
                </div>
            </div>

            <!-- writing under image -->
            <div class="content">
                <p class="flex">
                    <span class="department blue bold">English Department</span>
                    <span class="rate"><i class="fas fa-star"></i>4.9</span>
                </p>
                <h3 class="sector">Graphic Design</h3>
                <p>We focus on ergonomics and meeting where you work. It's only keystroke away.</p>
                <p class="numberSold bold">
                    <span class="ico">
                        <img src="../../assets/images/download.png" alt="download icon">
                    </span>
                    15 sales
                </p>
                <p class="price"> <span class="l-gray bold">$16.48</span> <span class="green bold">$6.48</span></p>
                <p class="flx">
                    <span class="duration">
                        <span class="ico"> <img src="../../assets/images/logo-time.png" alt="timer"></span>
                        22hr 30min
                    </span>
                    <span class="long">
                        <span class="ico"> <img src="../../assets/images/logo-course.png" alt="course"></span>
                        64 lessons
                    </span>
                    <span class="progress">
                        <span class="ico"> <img src="../../assets/images/logo-progress.png" alt="progress"></span>
                        Progess
                    </span>
                </p>
                <a href="#" class="bold blue">Learn more</a>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/images/sale3.jpg" alt="">

            <!-- writing on the image -->
            <div class="onImage">
                <span class="status red-bg bold">Sale</span>

                <div class="logos">
                    <div>
                        <img src="../../assets/images/logo1.png" alt="" class="logo">
                    </div>
                    <div>
                        <img src="../../assets/images/logo2.png" alt="" class="logo">
                    </div>
                    <div>
                        <img src="../../assets/images/logo3.png" alt="" class="logo">
                    </div>
                </div>
            </div>

            <!-- writing under image -->
            <div class="content">
                <p class="flex">
                    <span class="department blue bold">English Department</span>
                    <span class="rate"> <i class="fas fa-star"></i>4.9</span>
                </p>
                <h3 class="sector">Graphic Design</h3>
                <p>We focus on ergonomics and meeting where you work. It's only keystroke away.</p>
                <p class="numberSold bold">
                    <span class="ico">
                        <img src="../../assets/images/download.png" alt="download icon">
                    </span>
                    15 sales
                </p>
                <p class="price"> <span class="l-gray bold">$16.48</span> <span class="green bold">$6.48</span></p>
                <p class="flx">
                    <span class="duration">
                        <span class="ico"> <img src="../../assets/images/logo-time.png" alt="timer"></span>
                        22hr 30min
                    </span>
                    <span class="long">
                        <span class="ico"> <img src="../../assets/images/logo-course.png" alt="course"></span>
                        64 lessons
                    </span>
                    <span class="progress">
                        <span class="ico"> <img src="../../assets/images/logo-progress.png" alt="progress"></span>
                        Progess
                    </span>
                </p>
                <a href="#" class="bold blue">Learn more</a>
            </div>
        </div>

    </div>
</section>